## secured files
/info/*
/example_report.xlsx*
/logs/*
/data/*
/distr/i686/projectapp
/distr/x86_64/projectapp
/data/bkp
/data/LOGINS.txt
/data/projectapp.internal-keys
/data/credentials.json*
!/data/_credentials.json
/data/projectapp_db_model.mwb*
/deploy.conf*
/.env*
/API.md*
/GPDR_POLICY.txt*
/filestorage/*
!/filestorage/userpic
!/filestorage/userpic/index.html
!/filestorage/userpic/1_60x60.jpeg
!/filestorage/userpic/2_60x60.jpeg
!/filestorage/index.html
/filestorage/uploaded
!/filestorage/uploaded/index.html
/public/*
!/public/index.html
/distr/x86_64/projectapp
/distr/i686/projectapp
old-*
_old_*
old_*
*.swp
*/*.swp
*/_old*
/go.mod
/go.sum

## common files
/456.go*
/123.go*
.*
!.gitignore
*~
/main*
!/main.go
/vendor/*
/favicon.ico
/*.sublime-project
/*.sublime-workspace
